{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>MDLAC - Air Conditioning Big Data Analysis Platform</title>
        <meta content="Air Conditioning Big Data Analysis Platform Front End" name="description" />
        <meta content="Team-MDLAC" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="{% static 'shows/vertical/assets/images/acicon-2.png' %}">

        <link href="{% static 'shows/vertical/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'shows/vertical/assets/css/icons.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'shows/vertical/assets/css/style.css' %}" rel="stylesheet" type="text/css">

    </head>


    <body class="fixed-left">

        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>
        </div>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
                    <i class="mdi mdi-close"></i>
                </button>

                <div class="left-side-logo d-block d-lg-none">
                    <div class="text-center">

                        <a href="{% url 'index' %}" class="logo"><img src="{% static 'shows/vertical/assets/images/logo_dark.png' %}" height="20" alt="logo"></a>
                    </div>
                </div>

                <div class="sidebar-inner slimscrollleft">
                <div id="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>

                        <li>
                            <a href="{% url 'index' %}" class="waves-effect">
                                <i class="dripicons-home"></i>
                                <span> 首页 <span class="badge badge-success badge-pill float-right"></span></span>
                            </a>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-briefcase"></i> <span> 导航 </span> <span class="menu-arrow float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li style="background: linear-gradient(45deg,#ddba62, rgba(239,239,236,0.87), #dab75f);">
                                    <a href="{% url "shows:ui_alerts" %}"><strong>智能问答</strong></a>
                                </li>
                                <li><a href="{% url "shows:ui_badge" %}">热门评论</a></li>
                                <li><a href="{% url "shows:form_editors" %}">发布测评</a></li>
                                <li><a href="{% url "shows:ui_cards" %}">畅销空调</a></li>
                                <li><a href="{% url "shows:ui_popover_tooltips" %}">综合测评</a></li>
                                <li style="background: linear-gradient(45deg,#ddba62, rgba(239,239,236,0.87), #dab75f);">
                                    <a href="{% url "shows:ui_grid" %}"><strong>智能对比</strong></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url "shows:calendar" %}" class="waves-effect"><i class="dripicons-calendar"></i><span> 日历图 </span></a>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-graph-bar"></i><span> echarts图 </span> <span class="menu-arrow float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="{% url "shows:charts_morris" %}">时间销量</a></li>
                                <li><a href="{% url "shows:charts_c3" %}">品牌销量</a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-view-thumb"></i><span> 表格 </span> <span class="menu-arrow float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="{% url "shows:tables_responsive" %}">商品信息</a></li>
                                <li><a href="{% url "shows:tables_datatable" %}">商品评论</a></li>
                            </ul>
                        </li>
                        <li class="menu-title">扩展</li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-location"></i><span> 地图 </span> <span class="badge badge-danger badge-pill float-right"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="{% url "shows:maps_google" %}"> 热力图 </a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-medical"></i><span> 扩展 </span> <span class="menu-arrow float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="{% url "shows:extras_pricing" %}">支持一下</a></li>
                                <li><a href="{% url "shows:extras_faqs" %}">常见问题</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            <div class="clearfix"></div>
        </div> <!-- end sidebarinner -->
    </div>
            <!-- Left Sidebar End -->

            <!-- Start right Content here -->

            <div class="content-page">
                <!-- Start content -->
                <div class="content">

                    <!-- Top Bar Start -->
                    <div class="topbar">

                        <div class="topbar-left	d-none d-lg-block">
                            <div class="text-center">
                                <a href="{% url "index" %}" class="logo"><img src="{% static 'shows/vertical/assets/images/logo.png' %}" height="30" alt="logo"></a>
                            </div>
                        </div>

                        <nav class="navbar-custom">

                             <!-- Search input -->
                             <div class="search-wrap" id="search-wrap">
                                <div class="search-bar">
                                    <input class="search-input" type="search" placeholder="Search" />
                                    <a href="#" class="close-search toggle-search" data-target="#search-wrap">
                                        <i class="mdi mdi-close-circle"></i>
                                    </a>
                                </div>
                            </div>

                            <ul class="list-inline float-right mb-0">
                                <li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link waves-effect toggle-search" href="#"  data-target="#search-wrap">
                                        <i class="mdi mdi-magnify noti-icon"></i>
                                    </a>
                                </li>

                                <li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="false" aria-expanded="false">
                                        <i class="mdi mdi-bell-outline noti-icon"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg dropdown-menu-animated">
                                        <!-- item-->
                                        <div class="dropdown-item noti-title">
                                            <h5>Notification (3)</h5>
                                        </div>

                                        <div class="slimscroll-noti">
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                                <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                                <p class="notify-details"><b>Your order is placed</b><span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                                            </a>

                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                <div class="notify-icon bg-danger"><i class="mdi mdi-message-text-outline"></i></div>
                                                <p class="notify-details"><b>New Message received</b><span class="text-muted">You have 87 unread messages</span></p>
                                            </a>

                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                <div class="notify-icon bg-info"><i class="mdi mdi-filter-outline"></i></div>
                                                <p class="notify-details"><b>Your item is shipped</b><span class="text-muted">It is a long established fact that a reader will</span></p>
                                            </a>

                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                <div class="notify-icon bg-success"><i class="mdi mdi-message-text-outline"></i></div>
                                                <p class="notify-details"><b>New Message received</b><span class="text-muted">You have 87 unread messages</span></p>
                                            </a>

                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                <div class="notify-icon bg-warning"><i class="mdi mdi-cart-outline"></i></div>
                                                <p class="notify-details"><b>Your order is placed</b><span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                                            </a>

                                        </div>


                                        <!-- All-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-all">
                                            View All
                                        </a>

                                    </div>
                                </li>


                                <li class="list-inline-item dropdown notification-list nav-user">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="false" aria-expanded="false">
                                        <img src="{% static 'shows/vertical/assets/images/users/avatar-' %}{{ role_ID }}.jpg" alt="user" class="rounded-circle">
                                        <span class="d-none d-md-inline-block ml-1">{{ nickname }} <i class="mdi mdi-chevron-down"></i> </span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                                        <a class="dropdown-item" href="{% url 'index:profile' %}"><i class="dripicons-user text-muted"></i> Profile</a>
                                        <a class="dropdown-item" href="{% url 'index:wallet' %}"><i class="dripicons-wallet text-muted"></i> My Wallet</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="dripicons-exit text-muted"></i> Logout</a>
                                    </div>
                                </li>

                            </ul>

                            <ul class="list-inline menu-left mb-0">
                                <li class="list-inline-item">
                                    <button type="button" class="button-menu-mobile open-left waves-effect">
                                        <i class="mdi mdi-menu"></i>
                                    </button>
                                </li>
                                <li class="list-inline-item dropdown notification-list d-none d-sm-inline-block">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="false" aria-expanded="false">
                                        Create New <i class="mdi mdi-plus"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-animated">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </li>
                                <li class="list-inline-item notification-list d-none d-sm-inline-block">
                                    <a href="#" class="nav-link waves-effect">
                                        Activity
                                    </a>
                                </li>

                            </ul>

                        </nav>

                    </div>
                    <!-- Top Bar End -->

                    <div class="page-content-wrapper ">

                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="page-title-box">
                                        <div class="row align-items-center">
                                            <div class="col-md-8">
                                                <h4 class="page-title m-0">常见问题</h4>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="float-right d-none d-md-block">
                                                    <div class="dropdown">
                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="ti-settings mr-1"></i> Settings
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated">
                                                            <a class="dropdown-item" href="#">Action</a>
                                                            <a class="dropdown-item" href="#">Another action</a>
                                                            <a class="dropdown-item" href="#">Something else here</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Separated link</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end col -->
                                        </div>
                                        <!-- end row -->
                                    </div>
                                    <!-- end page-title-box -->
                                </div>
                            </div> 
                            <!-- end page title -->

                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="card m-b-30">
                                        <div class="card-body">
            
                                            <h4 class="mt-0 header-title">空调购买相关问题</h4>
                                            <p class="text-muted m-b-30">空调购买学问多多，
                                            不妨问问空调助手，买空调时要注意些啥吧~</p>
            
                                            <div class="">
                                                <div class="alert alert-success" role="alert">
                                                    <strong>Well done!</strong> 选择空调时应该关注哪些能效标识？
                                                </div>
                                                <div class="alert alert-info" role="alert">
                                                    <strong>Heads up!</strong> 家用空调的安装费用一般是多少？
                                                </div>
                                                <div class="alert alert-warning" role="alert">
                                                    <strong>Warning!</strong> 各种类型的空调（中央空调、分体式空调、便携式空调等）有什么区别？
                                                </div>
                                                <div class="alert alert-danger mb-0" role="alert">
                                                    <strong>Oh snap!</strong> 怎样选择适合自己家庭的空调容量？
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="col-xl-6">
                                    <div class="card m-b-30">
                                        <div class="card-body">
            
                                            <h4 class="mt-0 header-title">空调使用相关问题</h4>
                                            <p class="text-muted m-b-30"> 空调怎么调最凉快？盛夏已至，我们该如何正确使用空调呢？来聊聊吧客官~</p>

            
                                            <div class="">
                                                <div class="alert alert-success" role="alert">
                                                    <strong>Well done!</strong> 夏季高温天气，室内温度设置多少度最合适？
                                                </div>
                                                <div class="alert alert-info" role="alert">
                                                    <strong>Heads up!</strong> 使用空调过程中应该注意哪些维护保养工作？
                                                </div>
                                                <div class="alert alert-warning" role="alert">
                                                    <strong>Warning!</strong> 夏季家庭空调使用增加时，如何节约用电？
                                                </div>
                                                <div class="alert alert-danger mb-0" role="alert">
                                                    <strong>Oh snap!</strong> 夏季空调长时间不使用，如何进行保养？
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
            
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="card m-b-30">
                                        <div class="card-body">
            
                                            <h4 class="mt-0 header-title">空调修理相关问题</h4>
                                                <p class="text-muted m-b-30">谁家空调不会坏？坏了就找美的利！VIP定制智能专家为您答疑解惑！</p>
            
                                            <div class="">
                                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <strong>Well done!</strong> 空调使用中常见的故障有哪些，如何避免？
                                                </div>
                                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <strong>Heads up!</strong> 空调制冷效果差的可能原因有哪些？
                                                </div>
                                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <strong>Warning!</strong> 空调出现漏电现象可能是什么原因？
                                                </div>
                                                <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <strong>Oh snap!</strong> 空调的滴水现象是正常现象还是故障？
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="col-xl-6">
                                    <div class="card m-b-30">
                                        <div class="card-body">
            
                                            <h4 class="mt-0 header-title">空调智能专家</h4>
                                            <p class="text-muted m-b-30">空调智能专家是基于Chat GPT的AI智能助手，帮助您解决一切空调相关问题！</p>
                                            <div class="form-group">
                                                <label for="inputContent">有什么疑问，考考AI智能专家吧:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="inputContent" placeholder="请输入内容">
                                                    <div class="input-group-append">
                                                        <button id="SendText" class="btn btn-primary" type="button" onclick="send_text">发送</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="alert alert-success mb-0" role="alert">
                                                    <h4 class="alert-heading mt-0 font-18"><会员专属></h4>
                                                    <p id="typewriterText" style="color: #01ba9a"></p>
<!--                                                    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>-->
<!--                                                    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>-->
                                                    <script>
                                                        document.addEventListener("DOMContentLoaded", function() {
                                                            // 你想显示的文本
                                                            var text = "您好，我是您的智能空调专家，您可以问我任何空调相关问题，在上面的输入框试试吧！";

                                                            // 获取显示文本的元素
                                                            var typewriterText = document.getElementById("typewriterText");

                                                            var index = 0;

                                                            function typeWriter() {
                                                                if (index < text.length) {
                                                                    typewriterText.innerHTML += text.charAt(index);
                                                                    index++;
                                                                    setTimeout(typeWriter, 20); // 调整此值以控制打字速度
                                                                }
                                                            }

                                                            typeWriter();
                                                        });

                                                        let send_text = document.getElementById("SendText");
                                                        send_text.onclick = function() {
                                                            var inputContent = document.getElementById("inputContent").value;
                                                            // var typewriterText = document.getElementById("typewriterText");
                                                            // typewriterText.innerHTML = inputContent;
                                                            // console.log(inputContent);
                                                            //清空输入框的内容
                                                            document.getElementById("inputContent").value = "";
                                                            // 将用户输入的内容发送给后端
                                                            // 获取CSRF令牌
                                                            var csrftoken = getCookie('csrftoken');
                                                            // 发送Ajax请求
                                                            $.ajax({
                                                                type: "POST",
                                                                url: '{% url "shows:ui_alerts" %}',
                                                                data: {
                                                                    content: inputContent,
                                                                    csrfmiddlewaretoken: csrftoken
                                                                },
                                                                success: function(data) {
                                                                    console.log(inputContent);
                                                                    // 更新前端的p标签
                                                                    // $('#typewriterText').text(data.answer);

                                                                    // 获取显示文本的元素
                                                                    var typewriterText = document.getElementById("typewriterText");
                                                                    // 清空显示框的内容
                                                                    typewriterText.innerHTML = "";
                                                                    // 你想显示的文本
                                                                    var text = data.answer;
                                                                    var index = 0;
                                                                    function typeWriter() {
                                                                        if (index < text.length) {
                                                                            typewriterText.innerHTML += text.charAt(index);
                                                                            index++;
                                                                            setTimeout(typeWriter, 50); // 调整此值以控制打字速度
                                                                        }
                                                                    }
                                                                    typeWriter();
                                                                },
                                                                error: function(xhr, errmsg, err) {
                                                                    console.error(xhr.status + ": " + xhr.responseText);
                                                                }
                                                            });
                                                            // $.ajax({
                                                            //     type: "POST",
                                                            //     url: '{% url "shows:ui_alerts" %}',
                                                            //     data: inputContent,
                                                            //     success: function (data) {
                                                            //         console.log(data);
                                                            //     }
                                                            // });
                                                        }
                                                        function getCookie(name) {
                                                            var cookieValue = null;
                                                            if (document.cookie && document.cookie !== '') {
                                                                var cookies = document.cookie.split(';');
                                                                //把cookie放到cookieValue中
                                                                for (var i = 0; i < cookies.length; i++) {
                                                                    var cookie = cookies[i].trim();
                                                                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                                        break;
                                                                    }
                                                                }
                                                            }
                                                            return cookieValue;
                                                        }

                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end row-->            

                        </div><!-- container fluid -->

                    </div> <!-- Page content Wrapper -->

                </div> <!-- content -->

                <footer class="footer">
                   © 2024 MDLAC <span class="d-none d-md-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by ThemeMDLAC.</span>
                </footer>

            </div>
            <!-- End Right content here -->

        </div>
        <!-- END wrapper -->


        <!-- jQuery  -->
        <script src="{% static 'shows/vertical/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'shows/vertical/assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'shows/vertical/assets/js/modernizr.min.js' %}"></script>
        <script src="{% static 'shows/vertical/assets/js/detect.js' %}"></script>
        <script src="{% static 'shows/vertical/assets/js/fastclick.js' %}"></script>
        <script src="{% static 'shows/vertical/assets/js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'shows/vertical/assets/js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'shows/vertical/assets/js/waves.js' %}"></script>
        <script src="{% static 'shows/vertical/assets/js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'shows/vertical/assets/js/jquery.scrollTo.min.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'shows/vertical/assets/js/app.js' %}"></script>

    </body>
</html>