{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>MDLAC - Air Conditioning Big Data Analysis Platform</title>
        <meta content="Air Conditioning Big Data Analysis Platform Front End" name="description" />
        <meta content="Team-MDLAC" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="{% static 'shows/vertical/assets/images/acicon-2.png' %}">

        <link href="{% static 'shows/vertical/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'shows/vertical/assets/css/icons.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'shows/vertical/assets/css/style.css' %}" rel="stylesheet" type="text/css">

    </head>


    <body class="fixed-left">

        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>
        </div>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
                    <i class="mdi mdi-close"></i>
                </button>

                <div class="left-side-logo d-block d-lg-none">
                    <div class="text-center">

                        <a href="{% url 'index' %}" class="logo"><img src="{% static 'shows/vertical/assets/images/logo_dark.png' %}" height="20" alt="logo"></a>
                    </div>
                </div>

                <div class="sidebar-inner slimscrollleft">
                <div id="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>

                        <li>
                            <a href="{% url 'index' %}" class="waves-effect">
                                <i class="dripicons-home"></i>
                                <span> 首页 <span class="badge badge-success badge-pill float-right"></span></span>
                            </a>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-briefcase"></i> <span> 导航 </span> <span class="menu-arrow float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li style="background: linear-gradient(45deg,#ddba62, rgba(239,239,236,0.87), #dab75f);">
                                    <a href="{% url "shows:ui_alerts" %}"><strong>智能问答</strong></a>
                                </li>
                                <li><a href="{% url "shows:ui_badge" %}">热门评论</a></li>
                                <li><a href="{% url "shows:form_editors" %}">发布测评</a></li>
                                <li><a href="{% url "shows:ui_cards" %}">畅销空调</a></li>
                                <li><a href="{% url "shows:ui_popover_tooltips" %}">综合测评</a></li>
                                <li style="background: linear-gradient(45deg,#ddba62, rgba(239,239,236,0.87), #dab75f);">
                                    <a href="{% url "shows:ui_grid" %}"><strong>智能对比</strong></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url "shows:calendar" %}" class="waves-effect"><i class="dripicons-calendar"></i><span> 日历图 </span></a>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-graph-bar"></i><span> echarts图 </span> <span class="menu-arrow float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="{% url "shows:charts_morris" %}">时间销量</a></li>
                                <li style="background: linear-gradient(45deg,#ddba62, rgba(239,239,236,0.87), #dab75f);">
                                    <a href="{% url "shows:charts_c3" %}"><strong>品牌销量</strong></a>
                                </li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-view-thumb"></i><span> 表格 </span> <span class="menu-arrow float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="{% url "shows:tables_responsive" %}">商品信息</a></li>
                                <li><a href="{% url "shows:tables_datatable" %}">商品评论</a></li>
                            </ul>
                        </li>
                        <li class="menu-title">扩展</li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-location"></i><span> 地图 </span> <span class="badge badge-danger badge-pill float-right"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="{% url "shows:maps_google" %}"> 热力图 </a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-medical"></i><span> 扩展 </span> <span class="menu-arrow float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="{% url "shows:extras_pricing" %}">支持一下</a></li>
                                <li><a href="{% url "shows:extras_faqs" %}">常见问题</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            <div class="clearfix"></div>
        </div> <!-- end sidebarinner -->
    </div>

            <!-- Start right Content here -->

            <div class="content-page">
                <!-- Start content -->
                <div class="content">

                    <!-- Top Bar Start -->
                    <div class="topbar">

                        <div class="topbar-left	d-none d-lg-block">
                            <div class="text-center">
                                <a href="{% url "index" %}" class="logo"><img src="{% static 'shows/vertical/assets/images/logo.png' %}" height="30" alt="logo"></a>
                            </div>
                        </div>

                        <nav class="navbar-custom">

                             <!-- Search input -->
                             <div class="search-wrap" id="search-wrap">
                                <div class="search-bar">
                                    <input class="search-input" type="search" placeholder="Search" />
                                    <a href="#" class="close-search toggle-search" data-target="#search-wrap">
                                        <i class="mdi mdi-close-circle"></i>
                                    </a>
                                </div>
                            </div>

                            <ul class="list-inline float-right mb-0">
                                <li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link waves-effect toggle-search" href="#"  data-target="#search-wrap">
                                        <i class="mdi mdi-magnify noti-icon"></i>
                                    </a>
                                </li>

                                <li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="false" aria-expanded="false">
                                        <i class="mdi mdi-bell-outline noti-icon"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg dropdown-menu-animated">
                                        <!-- item-->
                                        <div class="dropdown-item noti-title">
                                            <h5>Notification (3)</h5>
                                        </div>

                                        <div class="slimscroll-noti">
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                                <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                                <p class="notify-details"><b>Your order is placed</b><span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                                            </a>

                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                <div class="notify-icon bg-danger"><i class="mdi mdi-message-text-outline"></i></div>
                                                <p class="notify-details"><b>New Message received</b><span class="text-muted">You have 87 unread messages</span></p>
                                            </a>

                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                <div class="notify-icon bg-info"><i class="mdi mdi-filter-outline"></i></div>
                                                <p class="notify-details"><b>Your item is shipped</b><span class="text-muted">It is a long established fact that a reader will</span></p>
                                            </a>

                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                <div class="notify-icon bg-success"><i class="mdi mdi-message-text-outline"></i></div>
                                                <p class="notify-details"><b>New Message received</b><span class="text-muted">You have 87 unread messages</span></p>
                                            </a>

                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                <div class="notify-icon bg-warning"><i class="mdi mdi-cart-outline"></i></div>
                                                <p class="notify-details"><b>Your order is placed</b><span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                                            </a>

                                        </div>


                                        <!-- All-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-all">
                                            View All
                                        </a>

                                    </div>
                                </li>


                                <li class="list-inline-item dropdown notification-list nav-user">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="false" aria-expanded="false">
                                        <img src="{% static 'shows/vertical/assets/images/users/avatar-' %}{{ role_ID }}.jpg" alt="user" class="rounded-circle">
                                        <span class="d-none d-md-inline-block ml-1">{{ nickname }} <i class="mdi mdi-chevron-down"></i> </span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                                        <a class="dropdown-item" href="{% url 'index:profile' %}"><i class="dripicons-user text-muted"></i> Profile</a>
                                        <a class="dropdown-item" href="{% url 'index:wallet' %}"><i class="dripicons-wallet text-muted"></i> My Wallet</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="dripicons-exit text-muted"></i> Logout</a>
                                    </div>
                                </li>

                            </ul>

                            <ul class="list-inline menu-left mb-0">
                                <li class="list-inline-item">
                                    <button type="button" class="button-menu-mobile open-left waves-effect">
                                        <i class="mdi mdi-menu"></i>
                                    </button>
                                </li>
                                <li class="list-inline-item dropdown notification-list d-none d-sm-inline-block">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="false" aria-expanded="false">
                                        Create New <i class="mdi mdi-plus"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-animated">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </li>
                                <li class="list-inline-item notification-list d-none d-sm-inline-block">
                                    <a href="#" class="nav-link waves-effect">
                                        Activity
                                    </a>
                                </li>

                            </ul>

                        </nav>

                    </div>
                    <!-- Top Bar End -->

                    <div class="page-content-wrapper ">

                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="page-title-box">
                                        <div class="row align-items-center">
                                            <div class="col-md-8">
                                                <h2 >热评</h2>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="float-right d-none d-md-block">
                                                    <div class="dropdown">
                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="ti-settings mr-1"></i> Settings
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated">
                                                            <a class="dropdown-item" href="#">Action</a>
                                                            <a class="dropdown-item" href="#">Another action</a>
                                                            <a class="dropdown-item" href="#">Something else here</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Separated link</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end col -->
                                        </div>
                                        <!-- end row -->
                                    </div>
                                    <!-- end page-title-box -->
                                </div>
                            </div> 
                            <!-- end page title -->

                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="card m-b-30">
                                        <div class="card-body">
            
                                            <h6 class="mt-0 header-title">6***f</h6>
                                            <p class="text-muted m-b-30">出租房用买了三台这个价格性比价相当ok了1物流速度快顺丰的几天到货了2顺丰快递小哥会提前预约送货时间3师傅拆装也很快约50分钟一台4冬天试机也有冷风出制冷效果可以外挂主机没有噪音5再分享下图片与试机视屏（房间1）</p>

                                            <div class="font-14">
                                                <span class="badge badge-success">好评</span>
                                                <span class="badge badge-warning">美的</span>
                                                <span class="badge badge-primary">极速制冷</span>
                                                <span class="badge badge-info">较多回复</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-xl-6">
                                    <div class="card m-b-30">
                                        <div class="card-body">
            
                                            <h6 class="mt-0 header-title">布***呆</h6>
                                            <p class="text-muted m-b-30">1这是一款最新的柜机颜色清淡样式好看占地少2下单后先预约拆机第二天送货第三天安装挺方便的3制热效果很不错升温快噪音小4服务态度挺好的</p>

                                            <div class="font-14">
                                                <span class="badge badge-success">好评</span>
                                                <span class="badge badge-warning">美的</span>
                                                <span class="badge badge-primary">外观漂亮</span>
                                                <span class="badge badge-info">较多回复</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>  <!--end col-->
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="card m-b-30">
                                        <div class="card-body">
                                            <h6 class="mt-0 header-title">根***园</h6>
                                            <p class="text-muted m-b-30">双十一买的商品因为没装潢好没拆包装最近要用了发现是单冷的找了多人想调换都不能换我虽然过了七天包装都是好的产生的费用我承担都不行真是可恨电商啊就便宜2百多就让我3000元的商品睡觉也太浪费了这台不能用还要买一台我下次还敢再在京东直营店里买吗？</p>
                                            <div class="font-14">
                                                <span class="badge badge-danger">差评</span>
                                                <span class="badge badge-warning">格力</span>
                                                <span class="badge badge-primary">安装便捷</span>
                                                <span class="badge badge-success">双自洁</span>
                                                <span class="badge badge-info">较多回复</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!--end col-->
                                <div class="col-xl-6">
                                    <div class="card m-b-30">
                                        <div class="card-body">
                                            <h6 class="mt-0 header-title">j***5</h6>
                                            <p class="text-muted m-b-30">外形外观外形外观设计非常好看早就看好这次房子装修好就直接入手啦冷暖效果新一级能效快速制冷.静音效果低噪无扰睡眠看电视都不影响超级静音模式节能省电最新能效变频空调超级节能省电的产品特色白色百搭我家装修基本都是白色系搭配的细节彰显品质白色典雅大气送货安装送货上门收到货报备第二天上门安装需要收取高空费用和开关插座转换器费用</p>
                                            <div class="font-14">
                                                <span class="badge badge-success">好评</span>
                                                <span class="badge badge-warning">奥克斯</span>
                                                <span class="badge badge-primary">安装师负责</span>
                                                <span class="badge badge-info">较多回复</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="card m-b-30">
                                        <div class="card-body">
                                            <h6 class="mt-0 header-title">平**乐</h6>
                                            <p class="text-muted m-b-30">机器外观设计整洁干净制冷效果不错开机没有杂音噪音顺丰送货到家安装师傅服务周到安装好调试好把垃圾顺便带走了以后才走的好评家里有买空调的朋友会推荐的</p>
                                            <div class="font-14">
                                                <span class="badge badge-success">好评</span>
                                                <span class="badge badge-warning">格力</span>
                                                <span class="badge badge-primary">制冷效果好</span>
                                                <span class="badge badge-info">干净</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!--end col-->
                                <div class="col-xl-6">
                                    <div class="card m-b-30">
                                        <div class="card-body">
                                            <h6 class="mt-0 header-title">4***a</h6>
                                            <p class="text-muted m-b-30">宝贝收到啦活动买的很划算外观时尚款式新颖颜色漂亮制热效果非常好速度很快超静音节能省电耗电量低操作简单方便实用物流送货速度很快京东小哥服务态度非常好棒棒哒</p>
                                            <div class="font-14">
                                                <span class="badge badge-success">好评</span>
                                                <span class="badge badge-warning">小米</span>
                                                <span class="badge badge-primary">美观大方</span>
                                                <span class="badge badge-info">超级省电</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="card m-b-30">
                                        <div class="card-body">
                                            <h6 class="mt-0 header-title">u***h</h6>
                                            <p class="text-muted m-b-30">相信格力用了一段时间了感觉很好制热快功力强都不用开辅热就能把50多平的客厅打的很热安装也到位增加了几米铜管架子和安全开关收费合理因挂在室外自己准备了玻璃纤维的包带请师傅帮忙包上去了整体满意大件购物选京东靠谱</p>
                                            <div class="font-14">
                                                <span class="badge badge-success">好评</span>
                                                <span class="badge badge-warning">格力</span>
                                                <span class="badge badge-primary">外观漂亮</span>
                                                <span class="badge badge-info">保修期长</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!--end col-->
                                <div class="col-xl-6">
                                    <div class="card m-b-30">
                                        <div class="card-body">
                                            <h6 class="mt-0 header-title">m***_</h6>
                                            <p class="text-muted m-b-30">卧室空调年头多了网上做了点功课订了美的风尊二代运送和安装都非常迅速从下单到装好不到一天时间安装师傅专业细致规范抽足15分钟真空试运行时前几分钟是工程模式不能随意调整现在的程序设置真是严谨制冷效果很棒中低风量下噪音低随机有遥控器方便不会手机遥控的老年人使用</p>
                                            <div class="font-14">
                                                <span class="badge badge-success">好评</span>
                                                <span class="badge badge-warning">美的</span>
                                                <span class="badge badge-primary">风大马力足</span>
                                                <span class="badge badge-info">专业细致</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="card m-b-30">
                                        <div class="card-body">
                                            <h6 class="mt-0 header-title">j***4</h6>
                                            <p class="text-muted m-b-30">机子还可以安装售后还要花750还是一楼真贵</p>
                                            <div class="font-14">
                                                <span class="badge badge-danger">差评</span>
                                                <span class="badge badge-warning">格力</span>
                                                <span class="badge badge-primary">价格高</span>
                                                <span class="badge badge-success">不推荐</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!--end col-->
                                <div class="col-xl-6">
                                    <div class="card m-b-30">
                                        <div class="card-body">
                                            <h6 class="mt-0 header-title">小***洁</h6>
                                            <p class="text-muted m-b-30">质感很光滑很厚重用料很实在功率很小一开机就出冷风制冷制热效果很好有点冻手</p>
                                            <div class="font-14">
                                                <span class="badge badge-success">好评</span>
                                                <span class="badge badge-warning">海信</span>
                                                <span class="badge badge-primary">制冷效果好</span>
                                                <span class="badge badge-info">较多回复</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="card m-b-30">
                                        <div class="card-body">
                                            <h6 class="mt-0 header-title">小***6</h6>
                                            <p class="text-muted m-b-30" style="color: #fdfcfc;">非常值得购买降温非常快最重要的是省电已经推荐朋友全五星好评</p>
                                            <div class="font-14">
                                                <span class="badge badge-success">好评</span>
                                                <span class="badge badge-warning">小米</span>
                                                <span class="badge badge-primary">降温快</span>
                                                <span class="badge badge-info">较多回复</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!--end col-->
                                <div class="col-xl-6">
                                    <div class="card m-b-30">
                                        <div class="card-body">
                                            <h6 class="mt-0 header-title">絔***p</h6>
                                            <p style="color: grey;" class="text-muted m-b-30">外观设计漂亮尺寸大小合适包装仔细完整宝贝手感不错感觉很好发货速度快服务态度一流给力5星好评物流很快物品完好无损用起来很舒服喜欢总体来说确实很不错客服的服务态度也很棒说话几乎马上就会回消息物超所值真心推荐</p>
                                            <div class="font-14">
                                                <span class="badge badge-success">好评</span>
                                                <span class="badge badge-warning">海尔</span>
                                                <span class="badge badge-primary">外观漂亮</span>
                                                <span class="badge badge-info">手感很好</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="card m-b-30">
                                        <div class="card-body">
                                            <h6 class="mt-0 header-title">k***9</h6>
                                            <p style="color: grey;" class="text-muted m-b-30">安装简单移动方便制冷也很快就是对着吹应该很OK大空间估计要一点时间性价比蛮高的东西很好</p>
                                            <div class="font-14">
                                                <span class="badge badge-success">好评</span>
                                                <span class="badge badge-warning">海尔</span>
                                                <span class="badge badge-primary">安装简单</span>
                                                <span class="badge badge-info">制冷快</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!--end col-->
                                <div class="col-xl-6">
                                    <div class="card m-b-30">
                                        <div class="card-body">
                                            <h6 class="mt-0 header-title">空***m</h6>
                                            <p style="color: grey;" class="text-muted m-b-30">这款空调很不错啊外形设计得很好很好看时尚简约大气制冷制热效果快风速吹着舒服京东商城正品保证节能环保省心省力省电很喜欢哦</p>
                                            <div class="font-14">
                                                <span class="badge badge-success">差评</span>
                                                <span class="badge badge-warning">格力</span>
                                                <span class="badge badge-primary">安装便捷</span>
                                                <span class="badge badge-info">较多回复</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end row-->




                        </div><!-- container fluid -->

                    </div> <!-- Page content Wrapper -->

                </div> <!-- content -->

                <footer class="footer">
                   © 2024 MDLAC <span class="d-none d-md-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by ThemeMDLAC.</span>
                </footer>

            </div>
            <!-- End Right content here -->

        </div>
        <!-- END wrapper -->


        <!-- jQuery  -->
        <script src="{% static 'shows/vertical/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'shows/vertical/assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'shows/vertical/assets/js/modernizr.min.js' %}"></script>
        <script src="{% static 'shows/vertical/assets/js/detect.js' %}"></script>
        <script src="{% static 'shows/vertical/assets/js/fastclick.js' %}"></script>
        <script src="{% static 'shows/vertical/assets/js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'shows/vertical/assets/js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'shows/vertical/assets/js/waves.js' %}"></script>
        <script src="{% static 'shows/vertical/assets/js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'shows/vertical/assets/js/jquery.scrollTo.min.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'shows/vertical/assets/js/app.js' %}"></script>

    </body>
</html>